[submodule "lib/wolfHSM"]
	path = lib/wolfHSM
	url = https://github.com/aidangarske/wolfHSM.git
[submodule "lib/wolfSSL"]
	path = lib/wolfSSL
	url = git@github.com:wolfSSL/wolfSSL.git
[submodule "lib/wolfhal"]
	path = lib/wolfhal
	url = git@github.com:wolfSSL/wolfhal.git
[submodule "lib/wolfPSA"]
	path = lib/wolfPSA
	url = https://github.com/wolfSSL/wolfPSA.git
[submodule "lib/wolfIP"]
	path = lib/wolfIP
	url = git@github.com:wolfSSL/wolfip.git
[submodule "lib/wolfCOSE"]
	path = lib/wolfCOSE
	url = https://github.com/wolfSSL/wolfCOSE.git
